<table>
<thead>
<tr>
    <th>Source</th>
    <th>IIN</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Unit Price</th>
    <th>Amount</th>
    <th>Reason</th>
    <th>Approval</th>
</tr>
</thead>
<tbody>
{% for it in subtracted_items %}
<tr>
    <td>{{ it.source_place }}</td>
    <td>{{ it.iin_code }}</td>
    <td>{{ it.date_received }}</td>
    <td>{{ it.qty }}</td>
    <td>{{ it.unit_price }}</td>
    <td>{{ it.amount }}</td>
    <td>{{ it.reason }}</td>
    <td>{{ it.approval_number }}</td>
</tr>
{% endfor %}
</tbody>
</table>
