
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% extends "admin/base_site.html" %}
{% load static %}


{% block title %}Property Management Administration{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Property Management Administration</a>
    </h1>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin_enterprise.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}
